h1 {
    font-size: 22px;
    color: red;
   }

h2  {
  font-size: xx-large;
  font-style: italic;
color: blueviolet;
    }

p   {
   font-family:  Verdana;
  font-weight: bold;
   color: beige;
    background-color: rgb(0, 153, 20);
    }