#box {
    background-color:  rgb(20, 219, 20);
    width: 320px;
    height: 240px;
    margin-left: 50px ;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom:  20;
    padding-right: 20px;
    border:5px solid blue ;
}
